.banner {
	
	background-image: url("../../static/img/bg-shape.png");
	min-height: px-rem(909px);
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;

	@media screen and(max-width: 1194px) and(min-width:768px) {
		min-height: 565px;
	}

	@media screen and(max-width: 767px) and(min-width:320px) {
		background-image: url("../../static/img/hero-bg-mob.png");
		min-height: px-rem(500px);
		background-position: top;
		background-size: 100%;
		background-repeat: no-repeat;
	}

	.banner-row {
		padding-left:  px-rem(44px);
		padding-right:  px-rem(36px);
		@media screen and (max-width: 1194px) and (min-width: 320px) {
			padding-left: 0;
			padding-right: 0;
			
			

		}
		@media screen and(max-width:1194px) and(min-width:768px) {
			align-items: flex-start !important;

		}

		@media screen and(max-width: 767px) and(min-width:320px) {
			flex-direction: column-reverse;
		}
	}

	.banner-text {
		    padding-top: px-rem(18px);
		@media screen and (max-width: 767px) and (min-width: 320px) {
			margin-bottom: px-rem(100px);
		padding-top: px-rem(34px);
		}

		@media screen and(max-width:1194px) and(min-width:768px) {
			padding-top: px-rem(80px);

		}

		@media screen and (max-width: 767px) and (min-width: 320px) {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column
		}

		h1 {
			font-size: $large-font;
			line-height: px-rem(72px);
			color: $gray-90;
			font-weight: bold;

			@media screen and (max-width: 767px) and (min-width: 320px) {
				font-size: rem(24px);
				line-height: px-rem(42px);
				text-align: center;
			}

			@media screen and(max-width:1194px) and(min-width:768px) {
				font-size: rem(42px);
				line-height: px-rem(64px);
			}

			span {
				color: $blue-200;
			}
		}

		p {
			margin-top: px-rem(32px);
			font-size: $normal-font;
			line-height: px-rem(36px);
			color:$gray-80;

			@media screen and (max-width: 767px) and (min-width: 320px) {
				font-size: rem(14px);
				line-height: px-rem(21px);
				margin-top: px-rem(16px);
				text-align: center;
			}

			@media screen and(max-width:1194px) and(min-width:768px) {
				margin-top: px-rem(24px);
				font-size: rem(20px);
			}
		}

		.btn {
			font-weight: bold;
			max-width: px-rem(215px);
			width: 100%;
			box-shadow: 0px 12px 24px rgba(12, 96, 255, 0.25);
			font-size:rem(18px);
			border-radius:px-rem(30px) !important;

			@media screen and (max-width: 767px) and (min-width: 320px) {
				margin-top: px-rem(32px);
				max-width: px-rem(184px);
				font-size: rem(16px);
			}

			@media screen and(max-width:1194px) and(min-width:768px) {
				margin-top: px-rem(40px);
				max-width: px-rem(184px);
				font-size: rem(16px);
			}
		}
	}

	.banner-right-image {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		z-index: 99;
		padding-top: px-rem(75px);
		height: px-rem(595px);
		margin-left: px-rem(70px);
		
		@media screen and(max-width: 567px) and(min-width:320px) {
			max-width: 257px;
		
		}
		
	

		@media screen and(max-width: 1194px) and(min-width:568px) {
			height: 455px;
			padding-top: px-rem(35px);
			margin-left: px-rem(40px);
		}

		@media screen and (max-width: 567px) and (min-width: 320px) {
			height: px-rem(336px);
			margin: 0;
		}

		@media screen and (max-width: 767px) and (min-width: 320px) {
			width: 100%;
			max-width: 100%;
			margin-left: 0;
			padding-top: px-rem(45px);
			margin:0px auto;

		}

		@media screen and (max-width: 1194px) and (min-width: 320px) {

			.phone-img {
				display: none;
			}
		}

		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: px-rem(442px);
			z-index: -1;
		
			background-image: url("../../static/img/bg-deco.png");
			background-size: contain;
			background-repeat: no-repeat;
			margin: 0px auto;
			background-position: center;

			@media screen and(max-width: 1194px) and(min-width:568px) {
				height: px-rem(352px);

			}

			@media screen and(max-width: 567px) and(min-width:320px) {
				height: px-rem(238px);

			}
		}

		.banner-service-card {
			background: $gray-light !important;
			border: 3px solid $white;
			box-sizing: border-box;
			position: absolute;
			border-radius: px-rem(11px);
			width: 100%;
			max-width: px-rem(300px);
			min-height: px-rem(80px);
			-webkit-box-shadow: -6px 8px 42px 8px rgba(0, 87, 255, 0.12);
			box-shadow: -6px 8px 42px 8px rgba(0, 87, 255, 0.12);

			display: flex;
			align-items: center;
			justify-content: center;

			@media screen and(max-width: 1194px) and(min-width:568px) {
				max-width: px-rem(244px);
				min-height: px-rem(64px);
			}

			@media screen and (max-width: 567px) and (min-width: 320px) {
				max-width: px-rem(184px);
				min-height: px-rem(48px);
			}

			img {
				margin-right: px-rem(15px);

				@media screen and (max-width: 767px) and (min-width: 320px) {
					margin-right: px-rem(10px);
					max-width: px-rem(22px);
				}

				@media screen and(max-width: 1194px) and(min-width:767px) {
					width: 100%;
					max-width: px-rem(38px);
				}
			}

			h5 {
				font-size: rem(20px);
				color: $blue-200;
				font-weight: bold;
				margin-bottom: 0 !important;

				@media screen and (max-width: 767px) and (min-width: 320px) {
					font-size: rem(14px);
					line-height: px-rem(21px);
				}

				@media screen and(max-width:1194px) and(min-width:767px) {
					font-size: $xsmall-font;
				}
			}

			&.top-left {
				top: 24%;
				left: 0px;

				@media screen and (max-width: 567px) and (min-width: 320px) {
				
					top: 23%;
				}

				@media screen and (max-width: 1194px) and (min-width: 768px) {
					top: 20%;
					left: 0px;
				}
			}

			&.bottom-left {
				bottom: 13%;
				left: -30px;
				@media screen and (max-width: 1194px) and (min-width: 768px) {
					bottom: 16%;
					
				}

				@media screen and (max-width: 767px) and (min-width: 320px) {
					left: 0px;
					bottom: 11%;
				}
			
			}

			&.center-right {
				right: 0px;
				top: 56%;
				transform: translateY(-50%);
				@media screen and (max-width: 1194px) and (min-width: 768px) {
				
				top: 50%;
				}
				@media screen and (max-width: 767px) and (min-width: 320px) {
				
					top: 52%;
					}
			}
		}
	}
}

.banner-col-right {
	
	@media screen and (max-width: 767px) and (min-width: 568px) {
		width: px-rem(600px) !important;
		flex-shrink: inherit !important;
	}

	@media screen and (max-width: 567px) and (min-width: 320px) {
		width: px-rem(400px) !important;
		flex-shrink: inherit !important;
	}


}