.flickit-content {
	&.centered {
		width: 100%;

		.flickit-heading {
			max-width: rem(854px);

			margin: 0px auto rem(32px);
			text-align: center;

		}

		p {
			max-width: rem(950px);
			margin: 0px auto;
			text-align: center;
		}


	}

	.flickit-heading {
		font-size: $large-font;
		line-height: rem(74px);
		margin-bottom: rem(32px);
		font-weight: bold;
		color: $gray-900;

		@media screen and (max-width: 767px) and (min-width: 320px) {
			text-align: center;
		}

		@media screen and (max-width: 767px) and (min-width: 320px) {
			font-size: rem(24px);
			line-height: rem(42px);
			margin-bottom: rem(16px) !important;
		}

		@media screen and(max-width:1194px) and(min-width:768px) {
			font-size: rem(42px);
			line-height: rem(64px);
			margin-bottom: rem(24px);
		}

		span {
			color: $blue-200;
		}
	}

	p {
		font-size: $normal-font;
		line-height: rem(40px);
		color: $gray-800;
		margin-bottom: 0;

		@media screen and (max-width: 767px) and (min-width: 320px) {
			font-size: $xsmall-font !important;
			line-height: rem(27px);
			text-align: center;
		}

		@media screen and(max-width:1194px) and(min-width:768px) {
			font-size: rem(20px) !important;
			line-height: rem(34px);
		}
	}
}

.flickit-list {
	margin-top: rem(40px);
	margin-bottom: 0;

	@media screen and (max-width: 767px) and (min-width: 320px) {
		margin-top: rem(32px);
	}

	li {
		color: $gray-900;
		font-size: $normal-font;
		line-height: 36px;
		font-weight: bold;
		position: relative;
		padding-left: rem(55px);


		@media screen and (max-width: 767px) and (min-width: 320px) {
			font-size:  rem(18px);
			line-height: rem(30px);
			padding-left: rem(50px);

		}

		@media screen and(max-width:1194px) and(min-width:768px) {
			font-size:  rem(22px);
			line-height: rem(33px);

		}

		&:not(:last-child) {
			margin-bottom: rem(32px);
		

			@media screen and (max-width: 767px) and (min-width: 320px) {
				margin-bottom: rem(24px);
			}
		}

		&:before {
			content: '';
			position: absolute;

			background-image: url("../../static/img/icon-checkmark.png");
			background-repeat: no-repeat;
			background-size: contain;
			width: rem(26px);
			height: rem(18px);
			top: 50%;
			transform: translateY(-50%);
			left: 0;

			@media screen and (max-width: 767px) and (min-width: 320px) {
				top: 18%;
				transform: none;
				left: 0;
				width: rem(24px);
				height: rem(22px);
			}

		}
	}
}

.flickit-image {
	display: flex;
	align-items: center;

	@media screen and(max-width: 767px)and(min-width:320px) {
		img {
			width: 100%;
			max-width: rem(197px);
			margin: rem(60px) auto 0px;
		}
	}
}



.flickit-services {
	&.service-1 {
		margin-top: rem(20px);
	
		.flickit-row {
			max-width:rem(1226px);
			width:100%;
			margin: 0px auto;
			.flickit-image {
				img {
					width: rem(370px);
				}

			}
		}

		@media screen and (max-width: 1194px) and (min-width: 768px) {

			.flickit-row {
				.flickit-image {
					img {
						width: rem(320px);
					}

				}

				.flickit-content {
					padding-left: 0;

					.flickit-list {
						margin-top: rem(32px);
					}
				}

			}
		}



	}

	&.service-2 {
		.flickit-row {
			max-width:rem(1195px);
			width:100%;
			margin: 0px auto;
			
			.flickit-image {
				img {
					max-width: rem(313px);
					@media screen and (max-width: 767px) and (min-width: 320px) {
						max-width:192px;
					}

				}

			}

		}
		@media screen and (max-width: 1194px) and (min-width: 768px) {
			.flickit-row {
				.flickit-content {
					p {

						max-width: rem(457px);
						width: 100%;

					}
				}



			}
		}

	}

	&.service-3 {
		.flickit-row {
			max-width:rem(1196px);
			width:100%;
			margin: 0px auto;
			.flickit-image {
				img {
					max-width: rem(444px);
					@media screen and (max-width: 767px) and (min-width: 320px) {
						max-width:270px;
					}

				}

			}

		}
		.flickit-content {
			max-width: rem(576px);
			margin: 0px auto;
		}

		@media screen and (max-width: 1194px) and (min-width: 768px) {
			.flickit-row {
				.flickit-image {
					img {
						max-width: rem(350px);
						@media screen and (max-width: 767px) and (min-width: 320px) {
							max-width:219px;
						}

					}

				}

			}
		}

		@media screen and (max-width: 767px) and (min-width: 320px) {
			.flickit-image {
				img {
					max-width: rem(270px);
					width: 100%;

				}

			}

		}

	}

	&.service-4 {
		.flickit-row {
			max-width:rem(1235px);
			width:100%;
			margin: 0px auto;
			.flickit-image {
				img {
					max-width: rem(420px);
					@media screen and (max-width: 767px) and (min-width: 320px) {
						max-width:219px;
		
					}

				}

			}

		}
		.flickit-content {
			max-width: 555px;
			@media screen and (max-width: 767px) and (min-width: 320px) {
				max-width: 100%;
				margin: 0px auto;

			}
		

		}

		@media screen and (max-width: 1194px) and (min-width: 768px) {
			.flickit-row {
				.flickit-image {
					img {
						max-width: rem(306px);
					}

				}

			}
		}

	}

	@media screen and (max-width: 767px) and (min-width: 320px) {
		.flickit-row {
			flex-direction: column-reverse;
		}
	}

	&.service-1 {
		.flickit-content {
		
			p {
				max-width: rem(500px);


				@media screen and (max-width: 767px) and (min-width: 320px) {
					max-width: 100%;
				}
			}
		}
	}


	.flickit-row {
		&.flex-row-reverse {
			@media screen and (max-width: 767px) and (min-width: 320px) {
				flex-direction: column-reverse !important;
			}

			.flickit-image {
				display: flex;
				align-items: center;
				justify-content: flex-end;
			}
		}
	}
}

/**total-trans-sec**/

.flickit-total-trans-sec {
	padding-top: rem(160px);
	padding-bottom: rem(60px);

	@media screen and (max-width: 1194px) and (min-width: 768px) {
		padding-top: rem(120px);

		.flickit-heading {
			width: 100%;
			max-width: rem(722px) !important;
			margin: 0px auto 24px;

		}
		p{
			max-width: 100% !important;
			padding: 0px rem(42px);
		}

	}

	@media screen and(max-width: 767px)and(min-width:320px) {
		padding-top: rem(60px);
		padding-bottom: rem(40px);
	}
}

/**list-sec**/

.flickit-list-sec {
	padding: rem(82px) 0px;
	.trans-list-col-right{
		padding-left:15px;
		@media screen and(max-width: 767px)and(min-width:320px) {
			padding-left:0;
		}
	}
	.trans-list-col-left{
		padding-right:15px;
		@media screen and(max-width: 767px)and(min-width:320px) {
			padding-right:0;
		}
	}
	.flickit-row{
		max-width:rem(1196px);
		width:100%;
		margin: 0px auto;

	}

	@media screen and (max-width: 1194px) and (min-width: 768px) {
		padding: rem(60px) 0px;
		.container-xs{
			padding:0px rem(102px) !important;
		}

	}

	@media screen and(max-width: 767px)and(min-width:320px) {
		padding: rem(40px) 0px;
	}
}

/**list**/
.flickit-service-list {
	min-height: rem(426px);
	height: 100%;
	background: $white;
	padding: rem(40px) rem(107px) rem(0px) rem(60px);
	box-sizing: border-box;
	box-shadow: -8px 16px 42px rgba(23, 23, 49, 0.08);
	border-radius: rem(8px);
	max-width: rem(583px);
	width:100%;
	@media screen and(max-width: 767px)and(min-width:320px) {
		max-width: 100%;
	}

	.heading-sm {
		@media screen and(max-width: 767px)and(min-width:320px) {
			padding: 0px rem(24px);

		}

	}

	@media screen and(max-width: 767px)and(min-width:320px) {
		padding: rem(32px) 0px;
		min-height: rem(333px);
		height:100%;
	}

	@media screen and(max-width:1194px) and(min-width:768px) {
		padding: rem(32px) rem(45px) rem(0px) rem(40px);
		min-height: rem(368px);
		width:100%;
		max-width:rem(480px);
	}

	.flickit-list {
		margin-top: rem(32px);

		@media screen and(max-width: 767px)and(min-width:320px) {
			padding: 0px rem(32px);
			margin-top: rem(24px);

		}

	}

	li {
		font-size:  rem(20px);
		line-height: rem(30px);
		margin-bottom: rem(24px) !important;
		font-weight: 400;
		color:$gray-20;
		    padding-left: rem(50)px;
			&:before {
				width: rem(24px);
           height: rem(22px);
			

			}

		@media screen and (max-width: 767px) and (min-width: 320px) {
			font-size: $xsmall-font;
			line-height: rem(27px);
			margin-bottom: rem(16px) !important;
			padding-left: rem(28px) !important;

			&:before {
				width: rem(16px);
				top: 23%;
		
    height: rem(14px);

			}

		}

		@media screen and(max-width:1194px) and(min-width:768px) {
			font-size: $xsmall-font !important;
			line-height: rem(24px);
			padding-left: rem(30px) !important;

			&:before {
				width: rem(16px);


			}

		}
	}

	&.left-area {
		background: $white;
		border: 2px solid $white-50;
		.heading-sm{
			color:$gray-dark;

		}

		@media screen and (max-width: 767px) and (min-width: 320px) {
			margin-bottom: rem(24px) !important;
			height: auto;
		}
	}

	&.right-area {
		background: $primary;
		@media screen and (max-width: 767px) and (min-width: 320px) {
			padding: 32px 0px 42px;
		}

		
		.heading-sm {
			color: $white;

			@media screen and (max-width: 1194px) and (min-width: 768px) {
				font-size:  rem(32px);
				line-height: rem(48px);
			}
		}

		li {
			color: $white;

			&:before {

				background-image: url("../../static/img/icon-checkmark-white.png");
			}
		}
	}
}

/**happy-sec**/
.flickit-happy-sec {
	padding: rem(120px) 0px;
	@media screen and (max-width: 1194px) and (min-width: 768px) {
		.container-xs{
			padding:0px rem(169px) !important;
	
		}
	}
	
	.flickit-row{
		max-width: rem(1124px);
		margin: 0px auto;
		width:100%;
	}
	img{
		max-width:rem(555px);
		@media screen and (max-width: 767px) and (min-width: 320px) {
			max-width:rem(248px);
		}
	}

	@media screen and (max-width: 1194px) and (min-width: 768px) {
		padding: rem(100px) 0px;

	}

	@media screen and (max-width: 767px) and (min-width: 320px) {
		padding: rem(80px) 0px;

		.flickit-row {
			flex-direction: column-reverse;
		}

		img {
			max-width: rem(248px);
		}
	}

	.flickit-image {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-bottom: rem(60px);

		@media screen and (max-width: 1194px) and (min-width: 768px) {
			padding-bottom: rem(40px);

			img {
				width: 100%;
				max-width: rem(443px);
				margin: 0px auto;
			}

		}

		@media screen and (max-width: 767px) and (min-width: 320px) {
			padding-bottom: 0;
		}
	}

	.flickit-content {
		text-align: center;
	

		p {
			@media screen and (max-width: 1194px) and (min-width: 768px) {

				font-size:  rem(24px)!important;
				line-height: rem(40px) !important;


			}
		}

		@media screen and (max-width: 767px) and (min-width: 320px) {
			padding: 0px;

			@media screen and (max-width: 567px) and (min-width: 320px) {
				padding: 0px;

				.flickit-heading {
					max-width: rem(282px);
					text-align: center;
					margin: 0px auto 16px;



				}

			}
		}
	}
}

/**newsletter**/

.flickit-newsletter-sec {
	padding: rem(91px) 0px;

	@media screen and (max-width: 1194px) and (min-width: 768px) {
		padding: rem(80px) 0px;

	}

	.container-xs {
		@media screen and (max-width: 767px) and (min-width: 320px) {
			padding: 0px rem(16px) !important;

		}
	}

	@media screen and (max-width: 767px) and (min-width: 320px) {
		padding: 60px 0px;
	}

	.heading-sm {
		color: $gray-900;
		max-width: rem(742px);
		margin: 0px auto;
		text-align: center;
		line-height: rem(62px);

		@media screen and (max-width: 767px) and (min-width: 320px) {
			max-width: 100%;
			font-size:  rem(24px) !important;
			line-height: rem(42px) !important;
			padding: 0px rem(8px) !important;
		}

		@media screen and (max-width: 567px) and (min-width: 320px) {
			max-width: rem(311px);
		}

		@media screen and (max-width: 1194px) and (min-width: 768px) {
			font-size:  rem(32px);
			line-height: rem(62px) !important;
		}
	}
}

/**download-app**/

.flickit-download-app-sec {
	padding: rem(100px) 0px;
	.flickit-row {
		max-width:rem(1183px);
		margin:0px auto;

	}
	.flickit-content {
	img{
		max-width:rem(152px);
	}
}

	.container-xs {
		@media screen and (max-width: 1194px) and (min-width: 1024px) {
			padding: 0px rem(40px) 0px rem(105px) !important;

		}

		.flickit-content {
			.app-buttons {
				@media screen and (max-width: 1194px) and (min-width: 320px) {
					margin-top: rem(32px) !important;
					padding:0 !important;
				}

			}

		}

	}

	@media screen and (max-width: 1194px) and (min-width: 768px) {
		padding: rem(60px) 0px;

	}

	@media screen and (max-width: 767px) and (min-width: 320px) {
		padding: rem(60px) 0px;

		.flickit-row {
			flex-direction: column-reverse;
		}
	}

	.flickit-app-img {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		position: relative;
		z-index: 99;
		img{
			max-width:rem(490px);
		}

		.flickit-img {
			@media screen and (max-width: 1194px) and (min-width: 320px) {

				display: none !important;

			}

		}

		@media screen and (max-width: 767px) and (min-width: 320px) {
			margin: rem(40px) 0px 0px;
			justify-content: center;
		}

		&:after {
			content: '';
			position: absolute;
			width: 100%;
			z-index: -1;

			background-image: url("../../static/img/bg-deco.png");
			background-size: contain;
			background-repeat: no-repeat;
			margin: 0px auto;
			height: rem(476px);

			@media screen and (max-width: 767px) and (min-width: 320px) {
				height: rem(237px);
				background-position: center;
			}

			@media screen and (max-width: 1194px) and (min-width: 568px) {
			    height: rem(352px);

			}
		}
	}

	.flickit-content {
		max-width: rem(572px);



		@media screen and (max-width: 1194px) and (min-width: 991px) {
			max-width: 100%;
			margin-left: rem(59px);

		}

		@media screen and (max-width: 1194px) and (min-width: 768px) {
			.heading-sm {
				font-size:  rem(42px) !important;
				line-height: rem(64px) !important;

			}
		}

		@media screen and (max-width: 767px) and (min-width: 320px) {
			max-width: 100%;
			padding: 0px rem(4px);
		}

		.heading-sm {
			font-size:  rem(40px);
			margin-bottom: rem(24px);
			line-height: rem(68px);
			color: $gray-900;

			@media screen and (max-width: 767px) and (min-width: 320px) {
				font-size: rem(24px);
				line-height: rem(42px);
				margin-bottom: rem(16px);
			}
		}

		p {
			font-size: $normal-font;

		}
	}
}


.phone-img-tablet,
.phone-img-mob {
	@media screen and(min-width:1195px) {
		display: none !important;
	}
}

.phone-img-mob {
	@media screen and (max-width: 1194px) and (min-width: 568px) {
		display: none !important;
	}

}

.phone-img-tablet {
	@media screen and (max-width: 567px) and (min-width: 320px) {
		display: none !important;
	}

}