.footer-section {
    padding: 80px 0px;

    @media screen and (max-width: 767px) and (min-width: 320px) {
        padding: 40px 0px;

    }

    @media screen and (max-width: 1194px) and (min-width: 768px) {
        padding: 60px 0px;

        .container-xs {
            padding: 0px 40px !important;
        }
    }

    .footer-widget {
        .footer-logo {
            margin-bottom: 24px;

            img {
                max-width: 135px;

                @media screen and (max-width: 767px) and (min-width: 320px) {
                    max-width: 165px;

                }

            }
        }

    }

    .footer-heading {
        @media screen and (max-width: 767px) and (min-width: 320px) {
            margin-top: 40px;

        }

        h3 {
            font-size: $normal-font;
            line-height: 24px;
            color: $gray-900;
            font-weight: bold;
            margin-bottom: 32px;

            @media screen and (max-width: 767px) and (min-width: 320px) {
                margin-bottom: 24px;

            }

            @media screen and (max-width: 767px) and (min-width: 320px) {
                font-size: 20px;

            }

        }


    }

    ul {
        margin-bottom: 0;

        li {

            &:not(:last-child) {
                margin-bottom: 20px;

                @media screen and (max-width: 767px) and (min-width: 320px) {
                    margin-bottom: 25px;

                }
            }
        }

        a {
            font-size: $xsmall-font;
            line-height: 24px;
            color: $gray-500;
            text-decoration: none;

            &:hover {
                color: $primary;
            }

        }
    }

    .footer-text {
        margin-top: 24px;
        &.copyright-content{
            @media screen and (max-width: 767px) and (min-width: 320px) {
                margin-top: 40px;
    
            }
            p{
                @media screen and (max-width: 767px) and (min-width: 320px) {
                    font-size: 14px;
        
                }
              
            }
        }

        @media screen and (max-width: 767px) and (min-width: 320px) {
            margin-top: 32px;
            padding: 0px 16px;


        }

        p {
            color: $gray-800;

        }
    }
}

.footer-cols {
    display: flex;

    @media screen and (max-width: 991px) and (min-width: 768px) {
        flex-wrap: wrap;
        justify-content: space-between;

    }

    @media screen and(max-width:767px) and(min-width:320px) {
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-align: center;
        flex-direction: column;

    }

    .footer-widget {
        &:not(:last-child) {
            margin-right: 112px;

            @media screen and(max-width:767px) and(min-width:320px) {
                margin-right: 0px !important;

            }

            @media screen and (max-width: 1194px) and (min-width: 992px) {

                margin-right: 88px;
            }

            @media screen and (max-width: 991px) and (min-width: 768px) {

                margin-right: 26px;
            }
        }

        &:first-child {
            width: 100%;
            max-width: 215px;

            @media screen and (max-width: 991px) and (min-width: 768px) {
                max-width: 100%;

                margin-right: 0;

            }

            @media screen and (max-width: 767px) and (min-width: 320px) {
                max-width: 100%;

            }
        }
    }

    .footer-email-info {
        margin-top: 32px;

        @media screen and (max-width: 991px) and (min-width: 768px) {

            margin-bottom: 32px;

        }

        p {
          
                padding-top: 10px;

            
        }

        span {
            font-weight: bold;
        }
    }

}