.footer-section {
    padding: 80px 0px;

    @media screen and (max-width: 767px) and (min-width: 320px) {
        padding: 40px 0px;

    }

    @media screen and (max-width: 1194px) and (min-width: 768px) {
        padding: 60px 0px;

        .container-xs {
            padding: 0px 40px !important;
        }
    }

    .footer-widget {
        .footer-logo {
            margin-bottom: 24px;
            max-width: 135px;
            width:100%;
            @media screen and (max-width: 767px) and (min-width: 320px) {
                max-width: 165px;
                margin:0px auto;

            }
            img{
                width:100%;
            }
        }

    }

    .footer-heading {
        @media screen and (max-width: 767px) and (min-width: 320px) {
            margin-top: px-rem(40px);

        }

        h3 {
            font-size: $normal-font;
            line-height: px-rem(24px);
            color: $gray-90;
            font-weight: bold;
            margin-bottom: px-rem(32px);

            @media screen and (max-width: 767px) and (min-width: 320px) {
                margin-bottom: px-rem(24px);

            }

            @media screen and (max-width: 767px) and (min-width: 320px) {
                font-size: rem(20px);

            }

        }


    }

    ul {
        margin-bottom: 0;

        li {

            &:not(:last-child) {
                margin-bottom: px-rem(20px);

                @media screen and (max-width: 767px) and (min-width: 320px) {
                    margin-bottom: px-rem(25px);

                }
            }
        }

        a {
            font-size: $xsmall-font;
            line-height: px-rem(24px);
            color: $gray-30;
            text-decoration: none;

            &:hover {
                color: $primary;
            }

        }
    }

    .footer-text {
        margin-top: px-rem(24px);
        &.copyright-content{
            @media screen and (max-width: 767px) and (min-width: 320px) {
                margin-top: px-rem(40px);
    
            }
            p{
              
                @media screen and (max-width: 767px) and (min-width: 320px) {
                    font-size: rem(14px);
        
                }
              
            }
        }

        @media screen and (max-width: 767px) and (min-width: 320px) {
            margin-top: px-rem(32px);
            padding: 0px px-rem(16px);


        }

        p {
            color: $paragraph-color;
            line-height: px-rem(27px);
            font-size: rem(16px);

        }
    }
}

.footer-cols {
    display: flex;
    justify-content: center;
    @media screen and (max-width: 1194px) and (min-width: 768px) {
    justify-content: inherit;

    }

    @media screen and (max-width: 991px) and (min-width: 768px) {
        flex-wrap: wrap;
        justify-content: space-between;

    }

    @media screen and(max-width:767px) and(min-width:320px) {
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-align: center;
        flex-direction: column;

    }

    .footer-widget {
        &:not(:last-child) {
         

            @media screen and(max-width:767px) and(min-width:320px) {
                margin-right: 0px !important;

            }

            @media screen and (max-width: 1194px) and (min-width: 992px) {

                margin-right: px-rem(88px);
            }

            @media screen and (max-width: 991px) and (min-width: 768px) {

                margin-right: px-rem(26px);
            }
        }

        &:first-child {
            width: 100%;
            max-width: px-rem(215px);
            margin-right: px-rem(120px);
            @media screen and (max-width: 1194px) and (min-width: 768px) {
                margin-right: px-rem(71px);

            }
            @media screen and (max-width: 991px) and (min-width: 768px) {
                max-width: 100%;

                margin-right: 0;

            }

            @media screen and (max-width: 767px) and (min-width: 320px) {
                max-width: 100%;

            }
        }
        &:nth-child(2) {
          
            margin-right: px-rem(117px);
            @media screen and (max-width: 1194px) and (min-width: 768px) {
                margin-right: 98px;

            }
          
    }
    &:nth-child(3) {
          
        margin-right: px-rem(108px);
        @media screen and (max-width: 1194px) and (min-width: 768px) {
            margin-right: px-rem(84px);

        }
      
}
}

    .footer-email-info {
        margin-top: px-rem(32px);

        @media screen and (max-width: 991px) and (min-width: 768px) {

            margin-bottom: px-rem(32px);

        }

        p {
          
                padding-top: px-rem(10px);
                font-size: rem(16px);
            
        }

        span {
            font-weight: bold;
        }
    }

}