body {
	font-family: $font-family !important;
	background: transparent;
    font-size: 14px;
}

.container {
    max-width: 1544px !important;
 
	@media screen and(max-width: 1194px) and(min-width:768px) {
		max-width: 100% !important;
		padding: 0px  px-rem(40px)!important;
	}
    @media screen and(max-width: 767px) and(min-width:320px) {
	
		padding: 0px  px-rem(16px) !important;
	}
}

.container-xs {
	max-width: 100% !important;

	@media screen and(max-width: 1194px) and(min-width:992px) {
		max-width: 100% !important;
		padding: 0px  px-rem(105px) !important;
	}
    @media screen and(max-width: 991px) and(min-width:320px) {
		max-width: 100% !important;
		padding: 0px  px-rem(32px) !important;
	}
  
}

.mt-60 {
	margin-top:  px-rem(60px);
}

.pb-200 {
	padding-bottom:  px-rem(200px);
    @media screen and(max-width: 1194px)and(min-width:768px) {
		padding-bottom: px-rem(180px);
	}
	@media screen and(max-width: 767px)and(min-width:320px) {
		padding-bottom: px-rem(100px);
	}
}
.pb-220 {
	padding-bottom:  px-rem(220px);
    @media screen and(max-width: 1194px)and(min-width:768px) {
		padding-bottom: px-rem(180px);
	}
	@media screen and(max-width: 767px)and(min-width:320px) {
		padding-bottom: px-rem(100px);
	}
}
.pt-120 {
	padding-top: 120px;
  
}

.pb-135 {
	padding-bottom:  px-rem(135px);
  
	@media screen and(max-width: 767px)and(min-width:320px) {
		padding-bottom: px-rem(60px);
	}
}

.heading-sm {
	font-size: $medium-font;
	line-height:  px-rem(48px);
	font-weight: bold;
	@media screen and(max-width: 1194px) and(min-width:768px) {
		font-size:   rem(24px);
		line-height:  px-rem(48px);
	}
	@media screen and (max-width: 767px) and (min-width: 320px) {
		font-size:   rem(20px);
		line-height:  px-rem(30px);
		margin-bottom:  px-rem(24px);
		text-align: center;
	}
	span {
		color: $primary;
	}
}

.seperater {
	height: 2px !important;
	background-color: $gray-50;
	opacity: 1;
	max-width: 1226px;
	margin: 0px auto;
	@media screen and(max-width: 1194px) and(min-width:992px) {
		max-width: 100% !important;
		margin: 0px  px-rem(105px) !important;
	}
	@media screen and(max-width: 991px) and(min-width:320px) {
		margin: 0px  px-rem(32px )!important;
	}
}

.btn-header {
	border-radius:  px-rem(27px) !important;
	padding:  px-rem(15px)  px-rem(44px) !important;
}

.full-width {
	max-width: 100%;
	background: $gray-10;
}

.wrapper {
	@media screen and(min-width: 1921px) {
		max-width: 1920px;
		width: 100%;
		margin: 0px auto;
	}
}

p {
	&:last-child {
		margin-bottom: 0 !important;
	}
}

button{
    &:focus{
        box-shadow:none !important;
        outline:none !important;
    }
}


/**app-btns**/
.app-buttons {
	margin-top:  px-rem(40px);

	@media screen and (max-width: 767px) and (min-width: 320px) {
		padding-top:  px-rem(40px) !important;
		justify-content: center;
		margin: 0px auto !important;
		display: flex;

		img {
		
			@media screen and (max-width: 767px) and (min-width: 320px) {
				max-width:  px-rem(124px) !important;
				height: px-rem(40px);
				width: 100%; 
			}
		}
	}

	.btn {
		img{
			max-width:  px-rem(152px);
		}
		&:not(:last-child) {
			margin-right:  px-rem(24px);

			@media screen and (max-width: 767px) and (min-width: 320px) {
				margin-right:  px-rem(16px);

			}
		}
	}
}


::-webkit-input-placeholder {
 color: rgba(141, 141, 141, 0.6) !important;

  }
  :-moz-placeholder {
	color: rgba(141, 141, 141, 0.6) !important;
  }
 
  ::placeholder {
	color: rgba(141, 141, 141, 0.6) !important;
  }
  :-ms-input-placeholder {
	color: rgba(141, 141, 141, 0.6) !important;
  }