// Theme colors
@import "../components/mixin";
$font-size-base: 14px !default; // Assumes the browser default, typically `16px`



$blue: #0c60ff !default;
$blue-200: #0057ff;
$gray-dark:#4b4b4b;
$gray-light: #ebf0ff !default;
$white-50:#f1f1f1 !default;
$gray-20:#444a4b !default;
$gray-10: #fafbff !default;
$gray-30: #8d8d8d!default;
$gray-50:#dae2f6 !default;
$gray-80: #45454b !default;
$gray-90: #171731 !default;

$white: #fff !default;


$black: #000 !default;

$primary: $blue !default;

$light: #f5f7fb !default;
$dark: $gray-900 !default;

$theme-colors: ("primary": $primary,

) !default;


$font-family:'Chivo', sans-serif ;



$large-font:rem(48px);
$medium-font:rem(32px);
$normal-font:rem(24px);
$xsmall-font:rem(16px);