// Theme colors
@import "../components/mixin";
$font-size-base: 16px !default; // Assumes the browser default, typically `16px`



$blue: #0c60ff !default;
$blue-200: #0057ff;
$gray-dark:#4b4b4b;
$gray-light: #ebf0ff !default;
$white-50:#f1f1f1;
$gray-20:#444a4b;
$gray-10: #fafbff !default;

$white: #fff !default;

$gray-300: #ebf0ff !default;
$gray-400: #dae2f6 !default;
$gray-500: #8d8d8d !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #45454b !default;
$gray-900: #171731 !default;
$black: #000 !default;

$primary: $blue !default;

$light: #f5f7fb !default;
$dark: $gray-900 !default;

$theme-colors: ("primary": $primary,

) !default;


$font-family:'Chivo', sans-serif ;



$large-font:rem(48px);
$medium-font:rem(32px);
$normal-font:rem(24px);
$xsmall-font:rem(16px);